.Header {
	padding: 20px;

	.Header--items {
		display: flex;
		justify-content: center;

		.centrar {
			display: flex;
			justify-content: center;
		}
	}
	.su {
		background-color: green;
	}

	button {
		background-color: #00838f;
		color: white;
	}
}
